.header{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    height: 8vh;
    align-items: center;
}
.headerTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.currenciesInfo{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    gap:20px;
}